  a:visited {
	color: #FFF;
}
a:hover {
	color: #FFFFFF;
}
a:active {
	color: #FFF;
}
.dropbtn {
    
    color: #216B1E;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
	color: #216B1E;
    position: absolute;
    min-width: 160px;
   
}

.dropdown-content a {
    color: black;
	color: #216B1E;